.card {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  width: 100vw; 
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center; 
}

.button-group button, .button-group span {
  margin: 0 10px; 
}

.fade-in {
  animation: fadeIn 2s ease-out;
  animation-fill-mode: forwards; 
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}