*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-page-bg: papayawhip;
  --color-header-bg: burlywood;
  --color-header-text: black;
  --color-header-text: black;
}
html {
  background-color: var(--color-page-bg);
  color: var(--color-page-text);

  font-family: sans-serif;
  line-height: 1.6;
}