.button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;

    background-color: #f5f5f5;

    cursor: pointer;
  }
  
  .button:hover {
    background-color: #e6e6e6;
  }
  
  .button-link {
    padding: 10px 20px;
    margin: 20px;
    border: none;

    background-color: #f5f5f5;
    color: #007bff;

    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
  }
  