*, *::before, *::after {
  margin: 0;

  box-sizing: border-box;
}

:root {
  --color-page-bg: #E5D08C;
  --color-header-bg: #D5B448;
  --color-header-text: #B39565;
  --color-page-text: #B39565;

  line-height: 1.5;
  font-weight: 400;
}

html {
  background-color: var(--color-page-bg);
  color: var(--color-page-text);

  font-family: sans-serif;
  line-height: 1.6;
}

button {
  padding: 0.6rem 1.2rem;  
  border-radius: 8px;  
  border: 1px solid transparent;   

  color: white;  
  background-color: #9d8b1b;  

  font-size: 1rem;  
  font-weight: 500; 
  font-family: inherit; 
  text-align: center;  
  cursor: pointer;  
}

@media (prefers-reduced-motion: no-preference) {
  button {
    transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  }

  button:hover {
    color: #fff;
    border-color: #646cff;
    background-color: #292929;
  }
}

@media (prefers-reduced-motion: reduce) {
  button {
    transition: none;
  }
}

