html, body {
    background-color: papayawhip;
    color: black;

    line-height: 1.6;
    font-family: sans-serif;
}

body {
    padding: 2rem;
}

header {
    margin-bottom: 2rem; 
    padding: 20px;

    background-color: DarkKhaki;
    color: aliceblue;

    text-align: center;
}

.required {
    color: red;
}

.register {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;

    max-width: 30rem;
    margin: auto;
}

.register__label{
    grid-column: 1;
}

.register__input {
    grid-column: 2;
}

.register__input.register__input--checkbox{
    align-self: center
}

.register__input--checkbox, .register__label.register__label--checkbox {
    margin-bottom: 0.5rem; 
}

.register__checkbox-container {
    display: flex;
    align-items: center; 
    gap: 0.5rem;
    grid-column: 1 / -1;
}

.register__input:invalid {
    border: 1px solid red; 
}

.register__submit {
    grid-column: span 2;
    margin: 16px 0;
    border: none;
    padding: 10px;

    background-color: DarkKhaki;
    color: white;

    cursor: pointer;
}

.required {
    color: red;
}

footer {
    padding: 1rem;

    background-color: aliceblue;

    text-align: center;
}

footer a {
    color: DarkKhaki; 

    text-decoration: none; 
}

@media (max-width: 50rem) {
    .register__label{
        grid-column: span 2;
    }
    
    .register__input {
        grid-column: span 2;
    }

}
